RewriteEngine on

RewriteRule (.*)\.ws $1.php

RewriteRule ^home(|/)$ home.php
RewriteRule ^listnews(|/)$ listnews.php
RewriteRule ^play(|/)$ play.php
RewriteRule ^account(|/)$ account.php

RewriteRule ^account/password(|/)$ password.php

RewriteRule ^register(|/)$ create.php
RewriteRule ^register.php(|/)$ create.php
RewriteRule ^create(|/)$ create.php

RewriteRule ^login(|/)$ login.php
RewriteRule ^logout(|/)$ logout.php

RewriteRule ^viewnews/id/([^/]+)(|/)$ viewnews.php?id=$1