RewriteEngine on

RewriteRule (.*)\.ws $1.php

RewriteRule ^home(|/)$ home.php
RewriteRule ^viewnews(|/)$ viewnews.php
RewriteRule ^listnews(|/)$ listnews.php
RewriteRule ^play(|/)$ play.php

RewriteRule ^register(|/)$ create.php
RewriteRule ^register.php(|/)$ create.php
RewriteRule ^create(|/)$ create.php